# Assignment Topic:

#### There are a total of 25 points possible for this final project.
1. Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
2. Exercise 3 - Create a markdown cell for an introduction. (1 pt)
3. Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
4. Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
5. Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
6. Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
7. Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
8. Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
9. Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
10. Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)
11. Exercise 12 - Share your notebook through GitHub (3 pts)
12. Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

__Exercise 2 - Create a markdown cell with the title of the notebook.__

# Data Science Tools and Ecosystem


__Exercise 3 - Create a markdown cell for an introduction. (1 pt)__

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
<ul>
<li>List popular languages that Data Scientists use.</li>
<li>List commonly used libraries used by Data Scientists.</li>
<li>Comment on Data Science tools.</li>
</ul>
    
    
__Exercise 4 - Create a markdown cell to list data science languages. (3 pts)__

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.
5. Scala.
    
__Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)__

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
    
__Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)__

Data Science Tools:

|Data Science Tools|
 ------------------
|Python. It is one of those data science tools which is used a lot in machine learning|		
|Apache Spark or PySpark|		
|R|

__Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)__

Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# Arithmetic operations
code = compile("1 + 2", "<string>", "eval")
eval(code)
# Result: 3

3

In [12]:
code1 = compile("(2 + 3) * 2", "<string>", "eval")
eval(code1)
# Result: 10

10

In [13]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

__Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)__

This a simple arithmetic expression to mutiply then add integers

In [19]:
(6*6)+2
# Result: 38

38

__Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)__

This will convert 300 minutes to hours

In [16]:
days = 0
hours = 0
mins = 0

time = 300
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 5.0 hours

0 days, 5 hours, 0 mins.

__Exercise 10 -Insert a markdown cell to list Objectives.__

__Objectives__

Some of the popular languages that Data Scientists use are:

<unorder>
<li>Python.</li>
<li>R.</li>
<li>SQL.</li>
<li>Java.</li>
<li>Julia</li>
</unorder>

__Exercise 11 - Create a markdown cell to indicate the Author’s name.__

# Author:
Tanay